<script>
  import { flip } from "svelte/animate";

  import { writeLeon, dataUpdate, getNewDoc } from "./database";

  let hovering = false;
  let selected = false;
  let leon = ["N", "O", "E", "L"];

  const changeLetters = (start, target) => {
    const newTracklist = leon;
    if (start < target) {
      newTracklist.splice(target + 1, 0, newTracklist[start]);
      newTracklist.splice(start, 1);
    } else {
      newTracklist.splice(target, 0, newTracklist[start]);
      newTracklist.splice(start + 1, 1);
    }
    leon = newTracklist;
    hovering = null;
    selected = null;
    writeLeon(leon);
  };

  const drop = (event, target) => {
    event.dataTransfer.dropEffect = "move";
    const start = parseInt(event.dataTransfer.getData("text/plain"));

    changeLetters(start, target);
  };

  const dragstart = (event, i) => {
    event.dataTransfer.effectAllowed = "move";
    event.dataTransfer.dropEffect = "move";
    const start = i;
    event.dataTransfer.setData("text/plain", start);
  };

  const updateLeon = (datain) => {
    leon = datain.leon;
  };

  const clickSelect = (event, i) => {
    if (selected || selected === 0) {
      changeLetters(selected, i);
    } else {
      selected = i;
    }
  };

  const addGame = () => {
    const id = getNewDoc();
    window.location.assign(`/${id}`);
  };

  dataUpdate(updateLeon);
</script>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #146b3a;
  }

  .main-container {
    width: 100vw;
    height: 100vh;
  }

  .noel-container {
    flex: 1;
    background-color: #146b3a;
    align-self: center;
    justify-content: center;
  }

  .drag-card {
    cursor: pointer;
    background-color: white;
    font-weight: bolder;
    color: #bb2528;
    background-image: url("../holly.png");
  }

  .noel-row {
    flex-direction: row;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
    .drag-card {
      margin-left: 2rem;
      margin-right: 2rem;
      min-height: 200px;
    }
  }

  @media (max-width: 964px) {
    .noel-row {
      flex-direction: column;
    }
  }
</style>

<main>
  <div
    class="container main-container is-flex is-flex-direction-column is-align-self-center">
    <div class="has-text-right mt-1">
      <button
        class="button is-primary is-inverted is-outlined is-rounded"
        on:click={addGame}>
        <i class="fa fa-plus" />
      </button>
    </div>
    <div class="container noel-container is-flex">
      <div
        class="is-flex is-justify-content-center is-align-content-center is-align-items-center">
        <!-- is-flex-direction-column -->
        <div class="noel-row is-flex mx-auto">
          {#each leon as letter, index (letter)}
            <div
              class="card drag-card my-4"
              style="max-width: 300px; min-width: 210px;"
              animate:flip
              draggable={true}
              on:dragstart={(event) => dragstart(event, index)}
              on:drop|preventDefault={(event) => drop(event, index)}
              ondragover="return false"
              on:dragenter={() => (hovering = index)}
              on:click={(event) => clickSelect(event, index)}
              class:has-background-info={hovering === index}
              class:has-background-link={selected === index}>
              <div class="card-content is-size-1">{letter}</div>
            </div>
          {/each}
        </div>
      </div>
    </div>
    {#if window.location.href.substring(window.location.href.lastIndexOf('/') + 1)}
      <div class="has-text-centered mb-5">
        <div class="notification is-info is-light">
          Share this URL with friends:
          <span
            class="tag is-info is-light"
            style="user-select: all;">{window.location.href}</span>
        </div>
      </div>
    {/if}
  </div>
</main>
